@import '~@angular/material/core/theming/theming';

@mixin finder-theme($theme) {

    $primary: map-get($theme, primary);

    #finder-wrapper{
      padding: 10px;

      .location-card{
        background-color: md-color($primary);
        color: md-color($primary, default-contrast);
      }
    }
}
