<div class="signin-menu">
  <h1>Entrar</h1>
  <p>Faça seu login na Feira Orgânica para ter acesso ao seu histórico.</p>
  <hr>
  <div>
    <button md-raised-button color="primary" (click)="loginGoogle()">
      Usar minha conta do Google
      <md-icon fontSet="fa" fontIcon="fa-google"></md-icon>
    </button>
  </div>
  <hr>
  <div>
    <button md-raised-button color="primary" (click)="loginFacebook()">
      Usar minha conta do Facebook
      <md-icon fontSet="fa" fontIcon="fa-facebook"></md-icon>
    </button>
  </div>
  <hr>
  <div>
    <button md-raised-button color="primary" (click)="loginGithub()">
      Usar minha conta do Github
      <md-icon fontSet="fa" fontIcon="fa-github"></md-icon>
    </button>
  </div>
  <hr>
  <div>
    <button md-raised-button color="primary" (click)="loginTwitter()">
      Usar minha conta do Twitter
      <md-icon fontSet="fa" fontIcon="fa-twitter"></md-icon>
    </button>
  </div>
  <hr>
</div>
