$small-mobile-screen: "(max-width: 500px)";
$large-mobile-screen: "(min-width: 500px) and (max-width: 767px)";
$tablet-screen: "(min-width: 768px) and (max-width: 1023px)";
$desktop-screen: "(min-width: 1024px)";
