@import '~@angular/material/core/theming/theming';

@mixin sidenav-theme($theme) {

  $primary: map-get($theme, primary);

  md-sidenav-layout{
    background-color: white;
    md-sidenav{
      background-color: #37AAD9;
      color: white;
      width: 300px;
    }
  }
}
